/**
 * Global custom properties
 */

:root {

  color-scheme: light dark;

  /**
   * Typography
   */
  --title-font: "Helvetica Neue", Helvetica, Arial, sans-serif;

  /**
   * Surface colors
   */
  --body-background: hsl(45, 40%, 94%);
  --body-top-border: hsl(12, 85%, 60%);
  --footer-background: hsl(0, 0%, 20%);

  /* Borders */
  --faint-border: hsla(0, 0%, 0%, 0.08);

  /* Forms */
  --default-button-text: hsl(0, 0%, 0%);
  --default-button: hsl(0, 0%, 20%);

  /**
   * Code
   */
  --code-background: hsl(0, 0%, 15%);
  --inline-code-background: hsl(0, 100%, 100%);
  --inline-code-border: hsl(44, 68%, 81%);

  /* Line numbers */
  --line-numbers-border: hsl(0, 0%, 33%);
  --line-numbers-text: hsl(0, 0%, 53%);

  /**
   * Text & glyph colors
   */

  /* Body */
  --body-text: hsl(0, 0%, 20%);
  --body-text-invert: hsl(0, 100%, 100%);

  /* Header */
  --header-text: var(--body-text);
  --header-text-invert: var(--article-link-invert);

  /* Footer */
  --footer-text: hsl(36, 61%, 82%);
  --footer-text-invert: hsl(0, 0%, 20%);
  --footer-text-hover: hsl(0, 0%, 94%);

  /* Article */
  --article-link: hsl(12, 78%, 44%);
  --article-link-invert: hsl(0, 100%, 100%, 1);
  --article-header-decoration: hsla(0, 0%, 0%, 0.2);
}

@media only screen and (prefers-color-scheme: dark) {

  :root {

    /**
     * Surface colors
     */

    --body-background: hsl(225, 5%, 17%);
    --footer-background: var(--body-background);

    /* Forms */
    --default-button: hsl(0, 0%, 20%);

    /**
     * Code
     */

    /* --code-background: var(--body-background); */
    --inline-code-background: hsla(0, 100%, 100%, 0.06);
    --inline-code-border: hsla(0, 100%, 100%, 0.12);

    /* Line numbers */
    --line-numbers-border: hsl(0, 0%, 33%);
    --line-numbers-text: hsl(0, 0%, 53%);

    /**
     * Text & glyph colors
     */

    /* Body */
    --body-text: hsl(57, 31%, 86%);
    --body-text-invert: hsl(0, 0%, 20%);

    /* Header */
    --header-text: hsl(57, 31%, 86%);
    --header-text-invert: hsl(6, 65%, 31%);

    /* Footer */
    --footer-text: hsl(36, 61%, 82%);
    --footer-text-invert: var(--body-background);
    --footer-text-hover: hsl(0, 0%, 94%);

    /* Article */
    --article-link: var(--body-top-border);
    --article-link-invert: var(--body-background);
    --article-header-decoration: hsla(0, 100%, 100%, 0.3);
    --faint-border: hsla(0, 100%, 100%, 0.2);
  }
}
