/**
 * Global custom properties
 */

:root {

  /**
   * Typography
   */
  --title-font: "Helvetica Neue", Helvetica, Arial, sans-serif;

  /**
   * Surface colors
   */
  --body-background: hsla(45, 40%, 94%, 1);
  --body-top-border: hsla(12, 85%, 60%, 1);
  --header-background: hsla(6, 65%, 31%, 1);
  --footer-background: hsla(0, 0%, 20%, 1);

  /* Borders */
  --faint-border: hsla(0, 0%, 0%, 0.08);

  /* Forms */
  --default-button-text: hsla(0, 0%, 0%, 1);
  --default-button: hsla(0, 0%, 20%, 1);

  /**
   * Code
   */
  --code-background: hsla(0, 0%, 15%, 1);
  --inline-code-background: hsla(0, 100%, 100%, 1);
  --inline-code-border: hsla(44, 68%, 81%, 1);

  /* Line numbers */
  --line-numbers-border: hsla(0, 0%, 33%, 1);
  --line-numbers-text: hsla(0, 0%, 53%, 1);

  /**
   * Text & glyph colors
   */

  /* Body */
  --body-text: hsla(0, 0%, 20%, 1);
  --body-text-invert: hsla(0, 100%, 100%, 1);

  /* Header */
  --header-text: var(--body-text);
  --header-text-invert: var(--article-link-invert);

  /* Footer */
  --footer-text: hsla(36, 61%, 82%, 1);
  --footer-text-invert: hsla(0, 0%, 20%, 1);
  --footer-text-hover: hsla(0, 0%, 94%, 1);

  /* Article */
  --article-link: hsla(12, 78%, 44%, 1);
  --article-link-invert: hsla(0, 100%, 100%, 1);
  --article-header-decoration: hsla(0, 0%, 0%, 0.2);
}

@media only screen and (prefers-color-scheme: dark) {

  :root {

    /**
     * Surface colors
     */

    --body-background: hsla(225, 5%, 17%, 1);
    --header-background: var(--body-background);
    --footer-background: var(--body-background);

    /* Forms */
    --default-button: hsla(0, 0%, 20%, 1);

    /**
     * Code
     */

    /* --code-background: var(--body-background); */
    --inline-code-background: hsla(0, 100%, 100%, 0.06);
    --inline-code-border: hsla(0, 100%, 100%, 0.12);

    /* Line numbers */
    --line-numbers-border: hsla(0, 0%, 33%, 1);
    --line-numbers-text: hsla(0, 0%, 53%, 1);

    /**
     * Text & glyph colors
     */

    /* Body */
    --body-text: hsla(57, 31%, 86%, 1);
    --body-text-invert: hsla(0, 0%, 20%, 1);

    /* Header */
    --header-text: hsla(57, 31%, 86%, 1);
    --header-text-invert: hsla(6, 65%, 31%, 1);

    /* Footer */
    --footer-text: hsla(36, 61%, 82%, 1);
    --footer-text-invert: var(--body-background);
    --footer-text-hover: hsla(0, 0%, 94%, 1);

    /* Article */
    --article-link: var(--body-top-border);
    --article-link-invert: var(--body-background);
    --article-header-decoration: hsla(0, 100%, 100%, 0.3);
    --faint-border: hsla(0, 100%, 100%, 0.2);
  }
}
