/**
 * Custom web fonts
 *
 */
@font-face {
  font-family: "AvenirNextWeb";
  src: url("/fonts/Avenir-Next-Regular.woff") format("woff");
}

@font-face {
  font-family: "AvenirNextWeb";
  font-weight: bold;
  src: url("/fonts/Avenir-Next-Bold.woff") format("woff");
}
