/**
 * basic.css
 *
 * @author Fredrik Frodlund
 */

@media all {

  * {
    margin: 0;
    padding: 0;
  }

  /**
   * The Lobotomized Owl
   */
  * + * {
    margin-top: 1.5em;
  }

  /* Default owl reset */
  body,
  br,
  li,
  dt,
  dd,
  th,
  td,
  option {
    margin-top: 0;
  }

  /**
   * HTML5 elements legacy reset
   */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  menu,
  nav,
  section {
    display: block;
  }

  /**
   * Reset body & html spacing
   */
  body,
  html {
    margin: 0;
    padding: 0;
  }

  /**
   * Reset box sizing
   */
  html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  /**
   * Tables
   */
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }

  table,
  th,
  td {
    border: 0;
  }

  th,
  td {
    padding: 0.125em 0.2em;
    vertical-align: top;
  }

  caption,
  th {
    font-weight: bold;
    text-align: left;
  }

  tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.05);
  }

  /**
   * Images
   */
  img {
    border: 0;
    height: auto;
    max-width: 100%;
  }

  /**
   * Body styling
   */
  html,
  body {
    background-color: var(--body-background);
    color: var(--body-text);
  }

  /**
   * Fonts & sizes
   * Base size set to browser default (usually 16px)
   */
  html {
    font-family: "Charter", Georgia, serif;
    line-height: 1.5;
    font-weight: normal;

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  body {
    font-size: 1.2em;
  }

  code,
  kbd,
  pre {
    font-family: Menlo, Consolas, monospace;
  }

  pre,
  li > code,
  p > code {
    font-size: 0.7em;
  }

  /**
   * Headings
   */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--title-font);
    font-weight: 200;
    line-height: 1.125;
    margin: 2em 0 0.5em;
  }

  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    margin-top: 0;
  }

  h1 + *,
  h2 + *,
  h3 + *,
  h4 + *,
  h5 + *,
  h6 + * {
    margin-top: 0;
  }

  h1 {
    font-size: 2.2em;
  }

  h2 {
    font-size: 1.9em;
  }

  h3 {
    font-size: 1.6em;
  }

  h4 {
    font-size: 1.4em;
  }

  h5,
  h6 {
    font-size: 1.2em;
  }

  /**
   * Paragraphs
   */
  p + p {
    margin-top: 0.75em;
  }

  /**
   * Lists
   */
  ul,
  ol {
    margin-left: 2em;
  }

  /**
   *Links
   */
  a,
  a:visited {
    color: inherit;
  }

  a:hover,
  a:focus,
  a:active {
    color: inherit;
  }

  /**
   * Emphasis
   */
  b,
  strong {
    font-weight: 600;
  }

  i,
  em {
    font-style: italic;
  }

  /**
   * General button styles
   */
  button {
    border: 0;
    background: var(--default-button);
    color: var(--default-button-text);
    border-radius: 0.25em;
    font-size: inherit;
    padding: 0.2em 0.5em;
  }

  /**
   * Hidden elements (both visually and for AT:s)
   */
  [hidden] {
    display: none;
  }

  /**
   * Visually hidden (still visible to AT:s)
   */
  .offscreen {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
  }

  /**
   * Inline SVG icons
   */
  .svg-icon {
    display: inline-block;
    fill: currentcolor;
    height: 1.2em;
    width: 1.2em;
    vertical-align: -0.2em;
  }
}

@media only screen and (min-width: 20em) {

  /**
   * Float images on wider viewports
   */
  img.left,
  img.right {
    max-width: 40vw;
  }

  img.left {
    float: left;
    margin: 0 1em 0.5em 0;
  }

  img.right {
    float: right;
    margin: 0 0 0.5em 1em;
  }
}

@media only screen and (min-width: 25em) {

  img.left,
  img.right {
    max-width: 50vw;
  }
}

/* Apple Watch only? How can this come back to bite me in the ass? */
@media only screen and (max-width: 22em) and (max-height: 357px) {

  body {
    font-size: 10vw;
  }
}
