/**
 * Header
 */

@media screen {

  /* Main title */
  .main-title {
    font-size: 2.8em;
    line-height: 1.125;
    padding: 0.5em 0 0;
    white-space: nowrap;
  }

  .main-title span {
    font-size: 0.6em;
  }

  .main-title a {
    text-decoration: none;
  }

  .main-title a:focus {
    background-color: var(--header-text);
    color: var(--header-text-invert);
    outline: 0;
  }

  /**
   * Navigation
   */
  #main-nav {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #main-nav li {
    display: block;
  }

  #main-nav a {
    font-size: 1.3em;
    text-decoration: none;
  }

  #main-nav a:hover,
  #main-nav a:active {
    text-decoration: underline;
  }

  #main-nav a:focus {
    background-color: var(--header-text);
    color: var(--header-text-invert);
    outline: 0;
  }
}

@media only screen and (min-width: 20em) {

  /**
   * Inline menu items
   */
  #main-nav {
    display: flex;
  }

  #main-nav li {
    display: inline;
  }

  #main-nav li + li {
    margin-left: 1em;
  }
}

@media only screen and (min-width: 60em) {

  @supports (display: grid) {

    #main-nav li + li {
      margin-top: 0.5em;
    }
  }
}

/* Touch */
