/**
 * Main layout
 */

@media screen {

  body::before {
    content: "";
    height: 0.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--body-top-border);
    z-index: 2;
  }

  /**
   * Landmark content
   *
   * Used in any main landmarks
   */
  .landmark-content {
    margin: 0 auto;
    max-width: 34em;
    padding: 0 1em;
  }

  /**
   * Header
   */
  #header {
    padding-bottom: 2em;
  }

  /**
   * Main landmark
   */
  main {
    padding-bottom: 4em;
  }

}

@media only screen {

  /**
   * Sticky footer
   */
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    flex: 1 0 auto;
  }
}

@media only screen and (min-width: 32em) {

  /* Inline header content when there’s room */
  .header-content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  /* Reset main title spacing */
  .main-title {
    margin: 0;
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 60em) {

  @supports (display: grid) {

    body {
      display: grid;
      grid-template-columns:
        [main-start] 1fr
        [content-start] calc(38rem + 5vw)
        [content-end] 1fr
        [main-end];
      grid-template-rows:
        [main-start] auto
        [footer-start] minmax(16rem, min-content)
        [main-end];
    }

    #header {
      grid-column: main-start / content-start;
      text-align: right;
      padding-bottom: unset;
    }

    main {
      grid-column: content-start / content-end;
    }

    #footer {
      margin-top: 0;
      grid-column: content-start / content-end;
      grid-row: footer-start / main-end;
    }

    /* Unset landmark content max-width */
    .landmark-content {
      max-width: unset;
    }

    /* Unset flex header */
    .header-content {
      display: block;
      margin: 0 0 2em;
      max-width: none;
      position: -webkit-sticky;
      position: sticky;
      top: 2rem;
      padding-top: 1em;
      padding-bottom: 3em;
    }

    /* Pretty gradient border in header */
    .header-content::after {
      content: "";
      position: absolute;
      height: 100%;
      top: 0;
      right: 0;
      width: 1px;
      background-image:
        linear-gradient(
          0deg,
          transparent 0%,
          currentcolor 20%,
          currentcolor 80%,
          transparent 100%
        );
    }

    /* Man navigation */
    nav {
      margin-top: 2em;
    }

    #main-nav {
      flex-direction: column;
    }
  }
}

/* Apple Watch only? How can this come back to bite me in the ass? */
@media only screen and (max-width: 22em) and (max-height: 357px) {

  .landmark-content {
    padding: 0 0.5em;
  }
}
