/**
 * Print styles
 */

@media print {

  /**
   * Hidden elements
   */
  #header,
  #footer,
  .more-articles {
    display: none;
  }

  a {
    text-decoration: none;
  }

  [itemprop="articleBody"] a[href^="http"] {
    text-decoration: underline;
  }

  [itemprop="articleBody"] a[href^="http"]::after {
    font-size: 0.85em;
    content: " ("attr(href)")";
  }
}
