/**
 * Code block syntax highlighting
 *
 */

@media screen {

  @supports (color: var(--code-color)) {

    .highlight code,
    .highlight pre {
      color: var(--code-color);
      background-color: var(--code-background);
    }

    .highlight .hll {
      background-color: hsl(0, 0%, 13%);
    }

    .highlight .c {
      color: hsl(120, 14%, 56%);
    }

    .highlight .err {
      color: hsl(1, 67%, 66%);
      background-color: hsl(0, 7%, 22%);
    }

    .highlight .g {
      color: hsl(120, 14%, 56%);
    }

    .highlight .k {
      color: hsl(44, 68%, 81%);
    }

    .highlight .l {
      color: hsl(0, 0%, 80%);
    }

    .highlight .n {
      color: hsl(60, 19%, 83%);
    }

    .highlight .o {
      color: hsl(58, 52%, 88%);
    }

    .highlight .x {
      color: hsl(0, 0%, 80%);
    }

    .highlight .p {
      color: hsl(179, 40%, 60%);
    }

    .highlight .cm {
      color: hsl(120, 14%, 56%);
    }

    .highlight .cp {
      color: hsl(120, 14%, 56%);
    }

    .highlight .c1 {
      color: hsl(120, 14%, 56%);
    }

    .highlight .cs {
      color: hsl(0, 100%, 40%);
      font-weight: bold;
    }

    .highlight .gd {
      color: hsl(0, 100%, 40%);
    }

    .highlight .ge {
      color: hsl(0, 0%, 80%);
      font-style: italic;
    }

    .highlight .gr {
      color: hsl(0, 100%, 50%);
    }

    .highlight .gh {
      color: hsl(60, 19%, 83%);
      font-weight: bold;
    }

    .highlight .gi {
      color: hsl(120, 100%, 40%);
    }

    .highlight .go {
      color: hsl(0, 0%, 50%);
    }

    .highlight .gp {
      color: hsl(60, 19%, 83%);
      font-weight: bold;
    }

    .highlight .gs {
      color: hsl(0, 0%, 80%);
      font-weight: bold;
    }

    .highlight .gu {
      color: hsl(300, 100%, 25%);
      font-weight: bold;
    }

    .highlight .gt {
      color: hsl(222, 100%, 41%);
    }

    .highlight .kc {
      color: hsl(0, 45%, 75%);
    }

    .highlight .kd {
      color: hsl(60, 100%, 76%);
    }

    .highlight .kn {
      color: hsl(24, 56%, 72%);
      font-weight: bold;
    }

    .highlight .kp {
      color: hsl(62, 36%, 71%);
    }

    .highlight .kr {
      color: hsl(60, 100%, 40%);
    }

    .highlight .kt {
      color: hsl(120, 100%, 40%);
    }

    .highlight .ld {
      color: hsl(0, 36%, 69%);
    }

    .highlight .m {
      color: hsl(183, 45%, 69%);
    }

    .highlight .s {
      color: hsl(0, 36%, 69%);
    }

    .highlight .na {
      color: hsl(127, 25%, 68%);
    }

    .highlight .nb {
      color: hsl(60, 75%, 75%);
    }

    .highlight .nc {
      color: hsl(60, 75%, 75%);
    }

    .highlight .no {
      color: hsl(0, 0%, 80%);
    }

    .highlight .nd {
      color: hsl(0, 0%, 80%);
    }

    .highlight .ni {
      color: hsl(359, 35%, 63%);
    }

    .highlight .ne {
      color: hsl(53, 23%, 69%);
      font-weight: bold;
    }

    .highlight .nf {
      color: hsl(60, 75%, 75%);
    }

    .highlight .nl {
      color: hsl(0, 0%, 80%);
    }

    .highlight .nn {
      color: hsl(204, 54%, 72%);
    }

    .highlight .nx {
      color: hsl(0, 0%, 80%);
    }

    .highlight .py {
      color: hsl(0, 0%, 80%);
    }

    .highlight .nt {
      color: hsl(127, 25%, 68%);
    }

    .highlight .nv {
      color: hsl(60, 19%, 83%);
    }

    .highlight .ow {
      color: hsl(58, 52%, 88%);
    }

    .highlight .w {
      color: hsl(0, 0%, 80%);
    }

    .highlight .mf {
      color: hsl(183, 45%, 69%);
    }

    .highlight .mh {
      color: hsl(183, 45%, 69%);
    }

    .highlight .mi {
      color: hsl(183, 45%, 69%);
    }

    .highlight .mo {
      color: hsl(183, 45%, 69%);
    }

    .highlight .sb {
      color: hsl(0, 36%, 69%);
    }

    .highlight .sc {
      color: hsl(0, 36%, 69%);
    }

    .highlight .sd {
      color: hsl(0, 36%, 69%);
    }

    .highlight .s2 {
      color: hsl(0, 36%, 69%);
    }

    .highlight .se {
      color: hsl(0, 36%, 69%);
    }

    .highlight .sh {
      color: hsl(0, 36%, 69%);
    }

    .highlight .si {
      color: hsl(0, 36%, 69%);
    }

    .highlight .sx {
      color: hsl(0, 36%, 69%);
    }

    .highlight .sr {
      color: hsl(0, 36%, 69%);
    }

    .highlight .s1 {
      color: hsl(0, 36%, 69%);
    }

    .highlight .ss {
      color: hsl(0, 36%, 69%);
    }

    .highlight .bp {
      color: hsl(60, 75%, 75%);
    }

    .highlight .vc {
      color: hsl(60, 75%, 75%);
    }

    .highlight .vg {
      color: hsl(60, 19%, 83%);
    }

    .highlight .vi {
      color: hsl(60, 100%, 89%);
    }

    .highlight .il {
      color: hsl(183, 45%, 69%);
    }
  }
}
