/**
 * Global custom properties
 */

:root {
  color-scheme: light dark;

  --base-hue: 12;
  --base-saturation: 85%;
  --base-lightness: 50%;

  --base-color: hsl(var(--base-hue), var(--base-saturation), var(--base-lightness));

  /**
   * Surface colors
   */
  --body-background: hsl(45, 40%, 94%);
  --body-top-border: var(--base-color);
  --footer-background: hsl(0, 0%, 20%);

  /* Borders */
  --faint-border: hsla(0, 0%, 0%, 0.08);

  /* Forms */
  --default-button-text: hsl(0, 0%, 0%);
  --default-button: hsl(0, 0%, 20%);

  /**
   * Code
   */
  --code-color: hsl(33, 96%, 78%);
  --code-background: hsl(0, 0%, 15%);
  --inline-code-background: hsl(0, 100%, 100%);
  --inline-code-border: hsl(44, 68%, 81%);

  /* Line numbers */
  --line-numbers-border: hsl(0, 0%, 33%);
  --line-numbers-text: hsl(0, 0%, 53%);

  /**
   * Text & glyph colors
   */

  /* Body */
  --body-text: hsl(0, 0%, 20%);
  --body-text-invert: hsl(0, 100%, 100%);

  /* Header */
  --header-text: var(--body-text);
  --header-text-invert: var(--article-link-invert);

  /* Footer */
  --footer-text: hsl(36, 61%, 82%);
  --footer-text-invert: hsl(0, 0%, 20%);
  --footer-text-hover: hsl(0, 0%, 94%);

  /* Article */
  --article-link: var(--base-color);
  --article-link-invert: hsl(0, 100%, 100%);
  --article-header-decoration: hsla(0, 0%, 0%, 0.2);

  /* Selection */
  --selection-text: var(--body-text-invert);
  --selection-bg: var(--body-top-border);
}

@media only screen and (prefers-color-scheme: dark) {

  :root {

    --base-lightness: 60%;

    /**
     * Surface colors
     */

    --body-background: hsl(60, 1%, 15%);
    --footer-background: var(--body-background);

    /* Forms */
    --default-button: var(--article-link);

    /**
     * Code
     */
    --code-background: hsl(0, 0%, 10%);
    --inline-code-background: hsla(0, 100%, 100%, 0.06);
    --inline-code-border: hsla(0, 100%, 100%, 0.12);

    /* Line numbers */
    --line-numbers-border: hsl(0, 0%, 33%);
    --line-numbers-text: hsl(0, 0%, 53%);

    /**
     * Text & glyph colors
     */

    /* Body */
    --body-text: hsl(36, 61%, 82%);
    --body-text-invert: hsl(0, 0%, 20%);

    /* Header */
    --header-text: hsl(57, 31%, 86%);
    --header-text-invert: hsl(6, 65%, 31%);

    /* Footer */
    --footer-text: var(--body-text);
    --footer-text-invert: var(--body-background);
    --footer-text-hover: hsl(0, 0%, 94%);

    /* Article */
    --article-link: var(--body-top-border);
    --article-link-invert: var(--body-background);
    --article-header-decoration: hsla(0, 100%, 100%, 0.3);
    --faint-border: hsla(36, 61%, 82%, 0.2);

    /* Selection */
    --selection-text: var(--body-text);
  }

  /* Adjust images for dark mode */
  img {
    filter: brightness(0.8) contrast(1.1);
  }
}
