# Jekyll stuff
_drafts
_site
.sass-cache
.jekyll-metadata
.jekyll-cache

# Version & build timestamp data files
_data/version.yml
_data/timestamp.yml

# Generated stuff
dist
_includes/sprite.svg

# Node stuff
node_modules
