---
title: The personal journal of Fredrik Frodlund
description: Articles and musings on web development, web standards, accessibility, usability and anything else related to the web or web technologies.
sitemap:
  priority: 1.0
  changefreq: daily
---

{% for post in paginator.posts %}
<article itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h2 itemprop="headline">
      {% if post.external-link %}
        <a href="{{ post.external-link }}" rel="external">{{ post.title }}</a>
        <svg class="svg-icon" height="16" width="16" aria-hidden="true">
          <use xlink:href="#icon-external"></use>
        </svg>
      {% else %}
        <a href="{{ post.url | prepend: site.baseurl }}" class="article-link">{{ post.title }}</a>
      {% endif %}
    </h2>
    <small class="post-info">
      Posted on <time datetime="{{ post.date | date: '%Y-%m-%d' }}" itemprop="datePublished">{{ post.date | date: '%B %-d, %Y' }}</time>
      <a class="permalink" href="{{ post.url | prepend: site.baseurl }}" title="Permalink" aria-label="Permalink">
        <svg class="svg-icon" height="16" width="16" aria-hidden="true">
          <use xlink:href="#icon-link"></use>
        </svg>
      </a>
    </small>
    <meta itemprop="author" content="{{ page.author }}">
    <meta itemprop="publisher" content="{{ page.author }}">
    <meta itemprop="url" content="{{ site.url}}{{ post.url }}">
    <link itemprop="mainEntityOfPage" href="{{ site.url}}{{ post.url }}">
    <meta itemprop="description" content="{{ post.excerpt | strip_html }}">
  </header>
  <div itemprop="articleBody">
    {{ post.content }}
  </div>
  {% if post.tags %}
    <footer>
      <p class="post-tags">
        <em><strong>Tagged with:</strong> <span itemprop="keywords">{{ post | tags }}</span></em>
      </p>
    </footer>
  {% endif %}
  {% if forloop.last == false %}
    {% include svg.html icon="divider" classes="article-end" %}
  {% endif %}
</article>
{% endfor %}

{% if paginator.total_pages > 1 %}
  <div class="more-articles">
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="older">Older articles</a>
    {% endif %}
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="newer">Newer articles</a>
    {% endif %}
  </div>
{% endif %}
