---
layout: default
title: The personal journal of Fredrik Frodlund
menutitle: Home
sitemap:
  priority: 1.0
  changefreq: daily
---

<h2>Latest posts</h2>

{% for post in paginator.posts %}
<div role="article" itemscope itemtype="http://schema.org/BlogPosting">
  <h3 itemprop="headline"><a href="{{ post.url | prepend: site.baseurl }}" class="article-link">{{ post.title }}</a></h3>
  <link itemprop="image" href="http://f.frippz.se/article.png">
  <p class="post-info">
    <em>Posted on <time datetime="{{ post.date | date: '%Y-%m-%d' }}" itemprop="datePublished">{{ post.date | date: '%B %-d, %Y' }}</time> by <span itemprop="author">{{ post.author }}</span></em>
  </p>
  <meta itemprop="url" content="{{ site.url}}{{ post.url }}">
  <meta itemprop="description" content="{{ post.excerpt | strip_html }}">
  {{ post.excerpt }}
  <p><a href="{{ post.url | prepend: site.baseurl }}">Continue reading <span class="offscreen">“{{ post.title }}”</span>…</a></p>
</div>
{% endfor %}

<div class="more-articles">
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" class="older">Older articles</a>
  {% endif %}
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}" class="newer">Newer articles</a>
  {% endif %}
</div>
