<div role="contentinfo">

  <div class="landmark-content">

    <ul class="footer-links social">
      <li>
        <a href="https://github.com/frippz">
          <svg class="svg-icon"><use xlink:href="#icon-github" /></svg>
          Github
        </a>
      </li>
      <li>
        <a href="https://twitter.com/frippz">
          <svg class="svg-icon"><use xlink:href="#icon-twitter" /></svg>
          Twitter
        </a>
      </li>
      <li>
        <a href="https://linkedin.com/in/fredrikfrodlund">
          <svg class="svg-icon"><use xlink:href="#icon-linkedin" /></svg>
          LinkedIn
        </a>
      </li>
    </ul>

    <ul class="footer-links subscribe">
      <li>
        <a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
          <svg class="svg-icon"><use xlink:href="#icon-feed" /></svg>
          Subscribe
        </a>
      </li>
    </ul>

  </div>
  <!-- /landmark-content -->

</div>
<!-- /contentinfo -->
