{% assign externalLinks = site.data.external-links %}
{% assign feedLinks = site.data.feed-links %}
<footer id="footer">

  <div class="landmark-content footer-content">

    <h2 class="offscreen">Find Fredrik in other places</h2>

    <ul class="footer-links external-links">
      {% for item in externalLinks %}
      <li>
        <a href="{{ item.url }}">
          {% include svg.html icon=item.icon %}
          {{ item.label }}
        </a>
      </li>
      {% endfor %}
    </ul>

    <h2 class="offscreen">Subscribe to posts</h2>

    <ul class="footer-links feeds">
      {% for item in feedLinks %}
      <li>
        <a href="{{ item.url | prepend: site.baseurl }}">
          {% include svg.html icon=item.icon %}
          {{ item.label }}
        </a>
      </li>
      {% endfor %}
    </ul>

    <small class="copyright">© 2005–{{ site.time | date: '%Y' }} Fredrik Frodlund</small>
  </div>

</footer>
