<div role="contentinfo">

  <div class="landmark-content">

    <h2 class="offscreen">Find Fredrik in other places</h2>

    <ul class="footer-links social">
      <li>
        <a href="https://github.com/frippz">
          <svg class="svg-icon">
            <use xlink:href="#icon-github"></use>
          </svg>
          Github
        </a>
      </li>
      <li>
        <a href="https://twitter.com/frippz">
          <svg class="svg-icon">
            <use xlink:href="#icon-twitter"></use>
          </svg>
          Twitter
        </a>
      </li>
      <li>
        <a href="https://linkedin.com/in/fredrikfrodlund">
          <svg class="svg-icon">
            <use xlink:href="#icon-linkedin"></use>
          </svg>
          LinkedIn
        </a>
      </li>
      <li>
        <a href="https://codepen.io/frippz/">
          <svg class="svg-icon">
            <use xlink:href="#icon-codepen"></use>
          </svg>
          CodePen
        </a>
      </li>
    </ul>

    <ul class="footer-links subscribe">
      <li>
        <a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
          <svg class="svg-icon">
            <use xlink:href="#icon-feed"></use>
          </svg>
          Subscribe
        </a>
      </li>
    </ul>

    <small class="copyright">Copyright © 2005-{{ site.time | date: '%Y' }} <a href="/about/">Fredrik Frodlund</a></small>
  </div>
  <!-- /landmark-content -->

</div>
<!-- /contentinfo -->
