<head>
  <meta charset="utf-8">
  <title>{{ page.title }} – {{ site.title }}{% if paginator.page > 1 %} (page {{ paginator.page }}){% endif %}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ site.baseurl }}/gui/css/{{ site.data.css.rev-manifest['styles.css'] }}">
  <meta name="author" content="{{ page.author }}">
  {% if page.description %}<meta name="description" content="{{ page.description }}{% if paginator.page > 1 %} (page {{ paginator.page }}){% endif %}">{% endif %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@frippz">
  <meta name="twitter:creator" content="@frippz">
  <meta name="twitter:title" content="{{ page.title }} – {{ site.title }}">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:image" content="https://dl.dropboxusercontent.com/u/817490/frippz.se/my-face.jpeg">
  {% include favicons.html %}
  {% include analytics.html %}
</head>
