<div role="banner">

  <div class="landmark-content">
    <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
  </div>

  <div role="navigation">

    <div class="landmark-content">
      <ul id="main-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        {% comment %}
        {% for page in site.pages reversed %}
          {% if page.menutitle %}
          <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.menutitle }}</a></li>
          {% endif %}
        {% endfor %}
        {% endcomment %}
      </ul>
    </div>
    <!-- /landmark-content -->

  </div>
  <!-- /navigation -->

</div>
<!-- /banner -->
