<header role="banner">

  <div class="landmark-content">
    <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
  </div>

  <nav role="navigation">

    <div class="landmark-content">
      <ul id="main-nav">
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        {% for page in site.pages %}
          {% if page.title %}
          <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

  </nav>

</header>