{%- capture figCaption -%}
{% if include.caption %}
  <figcaption>
    {{ include.caption | markdownify | remove: '<p>' | remove: '</p>' }}
  </figcaption>
{% endif %}
{%- endcapture -%}

{%- capture responsiveImages -%}
{% if include.sizes %}
sizes="{{ include.sizes }}"
{% endif %}
{% if include.srcset %}
srcset="{{ include.srcset }}"
{% endif %}
{%- endcapture -%}

{%- capture height -%}
{% if include.height %}
height="{{ include.height }}"
{% endif %}
{%- endcapture -%}

{%- capture width -%}
{% if include.width %}
width="{{ include.width }}"
{% endif %}
{%- endcapture -%}

<figure class="image">
  {% if include.link %}<a href="{{ include.link }}">{% endif %}
    <img src="{{ include.url }}" {{ height }} {{ width }} {{ responsiveImages }} alt="{{ include.alt }}" loading="lazy">
  {% if include.link %}</a>{% endif %}
  {{ figCaption }}
</figure>
