/**
 * main.css
 *
 * @author Fredrik Frodlund
 */

@media screen {

  /**
   * Landmark content
   */
  .landmark-content {
    margin: 0 auto;
    max-width: 34em;
    overflow: hidden;
    padding: 0 1em;
    position: relative;
  }

  /**
   * Header
   */
  #header {
    background-color: #83261c;
    color: #fff;
    padding: 0;
  }

  /* Main title */
  .main-title {
    font-size: 2.8em;
    font-weight: 200;
    line-height: 1.125;
    padding: 0.5em 0 0.25em;
  }

  .main-title a {
    text-decoration: none;
  }

  /**
   * Navigation
   */
  nav {
    margin-top: 0;
  }

  #main-nav {
    list-style: none;
    margin: 0;
    padding: 0.25em 0;
  }

  #main-nav li {
    display: block;
  }

  #main-nav a {
    text-decoration: none;
  }

  #main-nav a:hover,
  #main-nav a:focus,
  #main-nav a:active {
    text-decoration: underline;
  }

  /**
   * Articles
   */
  article h2 a {
    color: currentcolor;
  }

  article a {
    color: #83261c;
  }

  article footer {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .article-end {
    display: block;
    margin: 3.75em auto;
  }

  .article-link {
    text-decoration: none;
  }

  .permalink .svg-icon {
    height: 0.85em;
    width: 0.85em;
    margin-left: 0.25em;
    vertical-align: baseline;
  }

  /* Icon for external links */
  [rel="external"] + .svg-icon {
    fill: rgba(0, 0, 0, 0.2);
    margin: 0;
    vertical-align: middle;
    height: 0.65em;
    width: 0.65em;
  }

  /* Post meta data */
  .post-info {
    color: #666;
    font-size: 0.85em;
    margin-top: 0;
  }

  .post-tags {
    font-size: 0.85em;
    margin-top: 0.5em;
  }

  .post-tags strong {
    font-weight: 600;
  }

  /* Editorial lists */
  article li + li {
    margin-top: 0.5em;
  }

  /* Images with captions */
  figure.image {
    margin: 2em 0;
  }

  figure.image img {
    display: block;
  }

  figure.image figcaption {
    font-size: 0.9em;
    font-style: italic;
    margin: 0;
    padding: 0.5em 0;
  }

  /**
   * Code highlighting
   */
  .highlighter-rouge {
    margin: 0;
  }

  .highlighter-rouge pre {
    background: #252525;
    margin: 2em 0;
    overflow-x: auto;
    padding: 1em;
  }

  /* Inline code */
  p > code,
  li > code {
    background: #fff;
    border: 1px solid #f0dfaf;
    padding: 0.1em 0.2em;
  }

  /* Line numbers (requires JS) */
  .js .highlighter-rouge pre {
    display: flex;
    align-items: flex-start;
  }

  .js .highlighter-rouge code {
    counter-reset: linenumber;
    order: 2;
    padding-right: 1em;
  }

  .js .ln {
    border-right: 1px solid #555;
    color: #888;
    margin-top: 0;
    margin-right: 0.75em;
    padding-right: 0.5em;
    flex: 1 0 auto;
    text-align: right;
    max-width: 2em;
    order: 1;
    user-select: none;
  }

  .js .ln span::before {
    counter-increment: linenumber;
    content: counter(linenumber);
    display: block;
    margin-top: 0;
  }

  .js .ln + code {
    margin-top: 0;
  }

  /**
   * Contentinfo
   */
  #footer {
    background-color: #333;
    color: #edd6b4;
    margin-top: 6em;
    padding: 2em 0;
  }

  #footer .landmark-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #footer a,
  #footer a:visited {
    color: currentcolor;
    text-decoration: none;
  }

  #footer a:hover,
  #footer a:focus,
  #footer a:active {
    color: #efefef;
  }

  #footer .svg-icon {
    fill: currentcolor;
    display: inline-block;
    margin-right: 0.25em;
  }

  /* Footer links */
  .footer-links.social {
    margin-right: auto;
  }

  .footer-links.subscribe {
    margin-left: auto;
  }

  .social,
  .subscribe {
    display: inline-block;
    vertical-align: top;
  }

  .footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .footer-links li + li {
    margin-top: 1em;
  }

  /* Copyright */
  .copyright {
    display: block;
    font-size: 0.75em;
    margin-top: 4em;
    text-align: center;
    width: 100%;
  }

  /**
   * Older & newer articles navigation
   */
  .more-articles {
    margin-top: 4em;
    display: flex;
    justify-content: space-between;
  }

  .more-articles a {
    background: #333;
    border-radius: 0.5em;
    color: #fff;
    display: inline-block;
    margin-top: 0;
    padding: 0.35em 1em;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .more-articles a + a {
    margin-left: 1em;
  }

  .more-articles a:hover,
  .more-articles a:focus,
  .more-articles a:active {
    background: #414141;
  }

  /**
   * Custom error page (404)
   */
  .not-found article {
    text-align: center;
  }

  .not-found article #svg-404 {
    fill: #ccc;
    filter: drop-shadow(0 0 0.25em rgba(0, 0, 0, 0.4));
    height: 16em;
    display: block;
    margin: 0 auto;
  }

  /**
   * Blockquotes
   */
  blockquote {
    margin: 0 1em 1em;
    padding-left: 0.75em;
    border-left: 4px solid rgba(0, 0, 0, 0.08);
    color: #595959;
  }

  /**
   * Footnotes
   *
   * Inspired by an article by Hugo Giraudel
   * (http://www.sitepoint.com/accessible-footnotes-css/)
   */

  /* Initialiazing a 'footnotes' counter on the wrapper */
  article {
    counter-reset: footnotes;
  }

  /* Inline footnotes references */
  [aria-describedby="footnotes"] {
    color: inherit;
    counter-increment: footnotes;
    cursor: default;
    outline: none;
    text-decoration: none;
  }

  /* Numbered references */
  [aria-describedby="footnotes"]::after {
    color: inherit;
    content: "[" counter(footnotes) "]";
    cursor: pointer;
    font-size: 0.5em;
    margin-left: 2px;
    text-decoration: underline;
    vertical-align: super;
  }

  /* Resetting the default focused styles on the number */
  [aria-describedby="footnotes"]:focus::after {
    outline: thin dotted;
    outline-offset: 2px;
  }

  /**
   * Eye candy & visual fluff
   */
  a {
    transition: all 0.25s ease;
  }

  /**
   * Dyslexic mode toggle
   */
  .dyslexic-mode {
    font-size: 1.4em;
    letter-spacing: 0.25em;
    line-height: 2;
  }

  .dyslexic-mode .landmark-content {
    max-width: 26em;
  }

  /* Toggle button */
  .toggle-dyslexic-mode {
    font-size: 0.65em;
    margin-top: 0;
    position: absolute;
    top: 1.5em;
    right: 0;
  }

  /**
   * Tags list
   */
  .tags-article-list {
    list-style: none;
    padding: 0;
  }

  /**
   * Tag cloud
   */
  .tag-cloud [class^="set"] {
    padding-right: 0.75rem;
  }

  .tag-cloud .set-2 {
    font-size: 1.2em;
  }

  .tag-cloud .set-3 {
    font-size: 1.4em;
  }

  .tag-cloud .set-4 {
    font-size: 1.6em;
  }

  .tag-cloud .set-4 {
    font-size: 1.8em;
  }
}

@media only screen {

  /**
   * Sticky footer
   */
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    flex: 1 0 auto;
  }
}

@media only screen and (min-width: 20em) {

  /**
   * Inline menu items
   */
  #main-nav {
    display: flex;
  }

  #main-nav li {
    display: inline;
  }

  #main-nav li + li {
    margin-left: 1em;
  }
}
