/**
 * Main stylesheet
 *
 * To be broken up into smaller components, because who the hell
 * can manage mega stylesheets anymore?
 */

@media screen {

  /**
   * Articles
   */

  /* Heading links */
  article h2 a:link,
  article h2 a:visited {
    color: var(--body-text);
    text-decoration: none;
  }

  article h2 a:focus {
    color: var(--article-link-invert);
    text-decoration-color: var(--article-link-invert);
    -webkit-text-decoration-color: var(--article-link-invert);
  }

  article h2 a:hover + .svg-icon,
  article h2 a:focus + .svg-icon,
  article h2 a:active + .svg-icon {
    fill: var(--article-link);
  }

  /* Inline article links */
  article a,
  article a:visited {
    color: var(--article-link);
  }

  article a:focus {
    background-color: var(--article-link);
    color: var(--article-link-invert);
    outline: 0;
  }

  article footer {
    border-top: 1px solid var(--faint-border);
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .article-end {
    display: block;
    fill: var(--faint-border);
    margin: 3.75em auto;
  }

  .article-link {
    text-decoration: none;
  }

  .permalink .svg-icon {
    height: 0.85em;
    width: 0.85em;
    margin-left: 0.25em;
    vertical-align: baseline;
    overflow: visible;
  }

  /* Icon for external links */
  [rel="external"] + .svg-icon {
    fill: var(--article-header-decoration);
    margin: 0;
    vertical-align: middle;
    height: 0.65em;
    width: 0.65em;
  }

  /* Post meta data */
  .post-info {
    font-family: var(--title-font);
    font-weight: 400;
    display: block;
    font-size: 0.85em;
    margin-top: -1em;
  }

  .post-tags {
    margin-top: 0.5em;
  }

  .post-tags strong {
    font-weight: 600;
  }

  /* Images with captions */
  figure.image {
    margin: 2em 0;
  }

  figure.image img {
    display: block;
  }

  figure.image figcaption {
    font-size: 0.9em;
    font-style: italic;
    margin: 0;
    padding: 0.5em 0;
  }

  /**
   * Code highlighting
   */
  .highlighter-rouge {
    margin: 0;
  }

  .highlighter-rouge pre {
    background: var(--code-background);
    margin: 2em 0;
    overflow-x: auto;
    padding: 1em;
    -webkit-overflow-scrolling: touch;
  }

  /* Inline code */
  p > code,
  li > code {
    background: var(--inline-code-background);
    border: 1px solid var(--inline-code-border);
    padding: 0.1em 0.2em;
  }

  /* Line numbers (requires JS) */
  .js .highlighter-rouge pre {
    display: flex;
    align-items: flex-start;
  }

  .js .highlighter-rouge code {
    counter-reset: linenumber;
    order: 2;
    padding-right: 1em;
  }

  .js .ln {
    border-right: 1px solid var(--line-numbers-border);
    color: var(--line-numbers-text);
    margin-top: 0;
    margin-right: 0.75em;
    padding-right: 0.5em;
    flex: 1 0 auto;
    text-align: right;
    max-width: 2em;
    order: 1;
    user-select: none;
  }

  .js .ln span::before {
    counter-increment: linenumber;
    content: counter(linenumber);
    display: block;
    margin-top: 0;
  }

  .js .ln + code {
    margin-top: 0;
  }

  /**
   * Custom error page (404)
   */
  .not-found article {
    text-align: center;
  }

  .not-found article #svg-404 {
    fill: var(--text-color);
    height: 16em;
    display: block;
    margin: 0 auto;
  }

  /**
   * Blockquotes
   */
  blockquote {
    margin: 0 1em 1em;
    padding-left: 0.75em;
    border-left: 4px solid var(--faint-border);
  }

  /**
   * Footnotes
   *
   * Inspired by an article by Hugo Giraudel
   * (http://www.sitepoint.com/accessible-footnotes-css/)
   */

  /* Initialiazing a 'footnotes' counter on the wrapper */
  article {
    counter-reset: footnotes;
  }

  /* Inline footnotes references */
  [aria-describedby="footnotes"] {
    color: inherit;
    counter-increment: footnotes;
    cursor: default;
    outline: none;
    text-decoration: none;
  }

  /* Numbered references */
  [aria-describedby="footnotes"]::after {
    color: inherit;
    content: "[" counter(footnotes) "]";
    cursor: pointer;
    font-size: 0.5em;
    margin-left: 2px;
    text-decoration: underline;
    vertical-align: super;
  }

  /* Resetting the default focused styles on the number */
  [aria-describedby="footnotes"]:focus::after {
    outline: thin dotted;
    outline-offset: 2px;
  }

  /**
   * Eye candy & visual fluff
   */
  a,
  .svg-icon {
    transition: all 0.25s ease;
  }

  /**
   * Dyslexic mode toggle
   */
  .dyslexic-mode {
    font-size: 1.4em;
    letter-spacing: 0.25em;
    line-height: 2;
  }

  .dyslexic-mode .landmark-content {
    max-width: 26em;
  }

  /* Toggle button */
  .toggle-dyslexic-mode {
    font-size: 0.65em;
    margin-top: 0;
    position: absolute;
    top: 1.5em;
    right: 0;
  }

  /**
   * Tags list
   */
  .tags-article-list {
    list-style: none;
    padding: 0;
  }

  /**
   * Tag cloud
   */
  .tag-cloud [class^="set"] {
    padding-right: 0.75rem;
  }

  .tag-cloud .set-2 {
    font-size: 1.2em;
  }

  .tag-cloud .set-3 {
    font-size: 1.4em;
  }

  .tag-cloud .set-4 {
    font-size: 1.6em;
  }

  .tag-cloud .set-4 {
    font-size: 1.8em;
  }

  /* Toggle button */
  [data-toggle] {
    position: absolute;
    top: 1em;
    right: 1em;
    margin: 0;
    font-size: 0.7em;
  }
}
