<!doctype html>
<html lang="en">
{% include head.html %}
<body{% if page.custom_class %} class="{{ page.custom_class }}"{% endif %}>

  {% include header.html %}

  <main id="main-content">

    <div class="landmark-content">

      {{ content }}

    </div>

  </main>

  {% include footer.html %}

  {% include sprite-symbol.svg %}

  {% for js in site.static_files %}
    {% if js.path contains "dist/main" %}
      <script src="{{ site.baseurl }}{{ js.path }}" defer></script>
    {% endif %}
  {% endfor %}
</body>
</html>
