<!doctype html>
<html lang="en">
{% include head.html %}
<body{% if page.custom_class %} class="{{ page.custom_class }}"{% endif %}>

  {% include header.html %}

  <main role="main" id="main-content">

    <div class="landmark-content">

      {{ content }}

    </div>
    <!-- /landmark-content -->

  </main>
  <!-- /main -->

  {% include footer.html %}

  {% include sprite-symbol.svg %}

  <script src="{{ site.baseurl }}/gui/js/{{ site.data.js.rev-manifest['main.js'] }}" defer></script>
  {% include analytics.html %}
</body>
</html>
