---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h2 itemprop="headline">
      {% if page.external-link %}
        <a href="{{ page.external-link }}" rel="external">{{ page.title }}</a>
        {% include svg.html icon="icon-external" %}
      {% else %}
        {{ page.title }}
      {% endif %}
    </h2>
    <small class="post-info">
      Posted on <time datetime="{{ page.date | date: '%Y-%m-%d' }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>
      <a class="permalink" href="{{ post.url | prepend: site.baseurl }}" aria-label="Permalink">
        {% include svg.html icon="icon-link" %}
      </a>
    </small>
    <span hidden itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
      <meta itemprop="name" content="frippz.se">
      <span hidden itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
        <meta itemprop="url" content="https://frippz.se/apple-touch-icon.png">
      </span>
    </span>
    <meta itemprop="author" content="{{ page.author }}">
    <meta itemprop="url" content="{{ site.url}}{{ page.url }}">
    <meta itemprop="image" content="https://frippz.se/images/just-me.jpg">
    <link itemprop="mainEntityOfPage" href="{{ site.url}}{{ page.url }}">
  </header>
  <div itemprop="articleBody">
    {{ content }}
  </div>
  {% if page.tags %}
    <footer>
      <p class="post-tags">
        <em><strong>Keywords:</strong> <span itemprop="keywords">{{ page | tags }}</span></em>
      </p>
    </footer>
  {% endif %}
</article>
