---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting" id="{{ page.title | slugify }}" aria-label="{{ page.title }}">
  <header>
    <h2 itemprop="headline">{{ page.title }}</h2>
    <small class="post-info">
      Posted on <time datetime="{{ page.date | date: '%Y-%m-%d' }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>
      <a class="permalink" href="{{ post.url | prepend: site.baseurl }}#{{ page.title | slugify }}" aria-label="Permalink">
        {% include svg.html icon="icon-link" %}
      </a>
    </small>
    <span hidden itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
      <meta itemprop="name" content="frippz.se">
      <span hidden itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
        <meta itemprop="url" content="https://frippz.se/apple-touch-icon.png">
      </span>
    </span>
    <meta itemprop="author" content="{{ page.author }}">
    <meta itemprop="url" content="{{ site.url}}{{ page.url }}">
    <meta itemprop="image" content="https://frippz.se/images/just-me.jpg">
    <link itemprop="mainEntityOfPage" href="{{ site.url}}{{ page.url }}">
  </header>
  <div itemprop="articleBody">
    {{ content }}
  </div>
  {% assign hasTags = page.tags | size %}
  {% if hasTags > 0 %}
    <footer>
      <p class="post-tags">
        <em><strong>Keywords:</strong> <span itemprop="keywords">{{ page | tags }}</span></em>
      </p>
    </footer>
  {% endif %}
</article>
