---
layout: default
---
<article role="article" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h2 itemprop="headline">
      {% if page.external-link %}
        <a href="{{ page.external-link }}" rel="external">{{ page.title }}</a>
        <svg class="svg-icon" height="16" width="16">
          <use xlink:href="#icon-external"></use>
        </svg>
      {% else %}
        {{ page.title }}
      {% endif %}
    </h2>
    <small class="post-info">
      Posted on <time datetime="{{ page.date | date: '%Y-%m-%d' }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>
      <a class="permalink" href="{{ post.url | prepend: site.baseurl }}" title="Permalink" aria-label="Permalink">
        <svg class="svg-icon" height="16" width="16">
          <use xlink:href="#icon-link"></use>
        </svg>
      </a>
    </small>
    <meta itemprop="author" content="{{ page.author }}">
    <meta itemprop="publisher" content="{{ page.author }}">
    <meta itemprop="url" content="{{ site.url}}{{ page.url }}">
    {% if page.tags %}<meta itemprop="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
    <link itemprop="mainEntityOfPage" href="{{ site.url}}{{ page.url }}">
  </header>
  <div itemprop="articleBody">
    {{ content }}
  </div>
  {% comment %}
  <footer>
    {% if page.tags %}
      <p class="post-tags">
      <em><strong>Tagged with:</strong> <span itemprop="keywords">{{ page.tags | join: ', ' }}</span></em>
      </p>
    {% endif %}
  </footer>
  {% endcomment %}
</article>
<div class="article-end" aria-hidden="true">✦</div>
