---
name: Deploy to prod

on:
  push:
    branches:
      - master

jobs:
  deploy:
    name: Build site & deploy to Cloudflare

    runs-on: ubuntu-latest

    steps:
      - name: Checkout files
        uses: actions/checkout@v4

      - name: Get tagged version
        id: vars
        run: echo "hash=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - name: Setup Node.js and PNPM
        uses: ./.github/actions/setup-node-pnpm

      - name: Build assets
        run: pnpm run deploy

      - name: Set up Ruby 3.0
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Add version & build timestamp
        run: |
          echo `date` > _data/timestamp.yml
          echo "${{ steps.vars.outputs.hash }}" > _data/version.yml

      - name: Jekyll build
        env:
          JEKYLL_ENV: production
        run: bundle exec jekyll build --config "_config.yml,_config.prod.yml"

      - name: Lint CSS
        run: pnpm run lint:css

      - name: Lint JavaScript
        run: pnpm run lint:js

      - name: Deploy to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: frippz-se
          directory: _site
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          branch: master
