name: e2e on prod

on:
  workflow_dispatch: # Allow running from the UI

  #schedule: # Run daily at 12:00 UTC
  #  - cron: '0 12 */1 * *'

  workflow_run:
    workflows: [Deploy to prod]
    types: [completed]

jobs:
  deploy:
    name: Build site & run e2e

    runs-on: ubuntu-latest

    steps:
      - name: Checkout files
        uses: actions/checkout@v5

      - name: Get tagged version
        id: vars
        run: echo "hash=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - name: Setup Node.js and PNPM
        uses: ./.github/actions/setup-node-pnpm

      - name: Build assets
        run: pnpm run deploy

      - name: Set up Ruby 3.0
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Add version & build timestamp
        run: |
          echo `date` > _data/timestamp.yml
          echo "${{ steps.vars.outputs.hash }}" > _data/version.yml

      - name: Jekyll build
        env:
          JEKYLL_ENV: production
        run: bundle exec jekyll build --config "_config.yml,_config.prod.yml"

      - name: Lint CSS
        run: pnpm run lint:css

      - name: Lint JavaScript
        run: pnpm run lint:js

      - name: Install Cypress binary
        run: pnpm exec cypress install

      - name: Run e2e tests
        uses: cypress-io/github-action@v4
        env:
          CYPRESS_TEST_URL: https://frippz.se
        with:
          browser: chrome
          headed: false
