name: Test

on: [pull_request]

jobs:
  test:
    name: Build site & run tests

    runs-on: ubuntu-latest

    steps:
      - name: Checkout files
        uses: actions/checkout@v4

      - name: Setup Node.js and PNPM
        uses: ./.github/actions/setup-node-pnpm

      - name: Build assets
        run: pnpm run deploy

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Jekyll build
        env:
          JEKYLL_ENV: production
        run: bundle exec jekyll build --config "_config.yml,_config.prod.yml"

      - name: Lint CSS
        run: pnpm run lint:css

      - name: Lint JavaScript
        run: pnpm run lint:js

      - name: Install Cypress binary
        run: pnpm exec cypress install

      - name: Run e2e tests
        uses: cypress-io/github-action@v4
        env:
          CYPRESS_TEST_URL: http://localhost:4000
        with:
          install: false
          browser: chrome
          headed: false
          start: python3 -m http.server --directory _site 4000
